/* Slider 容器样式 */
.slider-container-capital{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease, border-radius 0.3s ease, padding-bottom 0.3s ease;
  padding-bottom: 10px;
}

.slider-container-installation{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease, border-radius 0.3s ease, padding-bottom 0.3s ease;
  padding-top: 10px;
  padding-bottom: 15px;
}

.slider-container-capital.dropdown-active{
  padding-top: 2px;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 230px; /* 增加底部内边距以容纳下拉内容 */
  overflow: auto; /* 允许内容溢出时滚动 */
}

.slider-container-installation.dropdown-active{
  padding-top: 2px;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 180px; /* 增加底部内边距以容纳下拉内容 */
  overflow: auto; /* 允许内容溢出时滚动 */
} 
.parameter_percentag{
  width: 10%;
  text-align: center; /* 名称文字居中对齐 */
}

/* Slider 内容样式 */
.slider-content {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-around; 
  z-index: 2; /* 确保它始终在下拉内容之上 */
}

/* 子滑块容器包裹样式 */
.dropdown-wrapper {
  position: relative;
  width: 100%;
}

/* 子滑块容器样式 */
.dropdown-container {
  position: absolute;
  top: 100%; /* 将下拉内容放置在slider-content的正下方 */
  left: 0;
  width: 100%;
  background-color: inherit;
  padding-top: 10px;
  margin-top: 0; /* 移除顶部外边距 */
  border-radius: inherit;
  z-index: 1;
}


/* 隐藏样式 */
.hidden {
  display: none;
}

/* 下拉按钮样式 */
.dropdown-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 5%;
}

/* Slider 名称样式 */
.slider-name {
  width: 10%; /* 设置名称宽度为 20% */
  text-align: left; /* 名称文字居中对齐 */
}
.parameter_percentage{
  width: 10%; /* 设置名称宽度为 20% */
  text-align: right; /* 名称文字居中对齐 */
}
/* Slider 主体样式 */
.slider {
  width: 55%; /* 设置滑杆宽度为 60% */
  height: 5px; /* 设置滑杆高度为 10 像素 */
  background: #ddd; /* 设置滑杆背景色为 #ddd */
  outline: none; /* 移除滑杆的外部轮廓 */
  opacity: 0.7; /* 设置滑杆的透明度为 0.7 */
  -webkit-transition: .2s; /* 设置滑杆的过渡效果时间为 0.2 秒 (Webkit 浏览器) */
  transition: opacity .2s; /* 设置滑杆的过渡效果时间为 0.2 秒 (其他浏览器) */
  margin-right: 10px; /* 设置滑杆右侧外边距为 10 像素 */
}

/* Hover 状态下的 Slider 主体样式 */
.slider:hover {
  opacity: 1; /* 当滑杆处于 hover 状态时，将透明度设置为 1 */
}

/* Webkit 浏览器中的 Slider 手柄样式 */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* 移除默认外观 (Webkit 浏览器) */
  appearance: none; /* 移除默认外观 (其他浏览器) */
  width: 25px; /* 设置手柄宽度为 25 像素 */
  height: 25px; /* 设置手柄高度为 25 像素 */
  background: #ff0000; /* 设置手柄背景色为红色 */
  cursor: pointer; /* 设置手柄鼠标指针为指针状 */
  border-radius: 50%; /* 设置手柄为圆形 */
}

/* Mozilla 浏览器中的 Slider 手柄样式 */
.slider::-moz-range-thumb {
  width: 25px; /* 设置手柄宽度为 25 像素 */
  height: 25px; /* 设置手柄高度为 25 像素 */
  background: #ff0000; /* 设置手柄背景色为红色 */
  cursor: pointer; /* 设置手柄鼠标指针为指针状 */
  border-radius: 50%; /* 设置手柄为圆形 */
}

/* Slider 值显示样式 */
.slider-value {
  width: 10%; /* 设置显示值的宽度为 10% */
  text-align: center; /* 设置显示值的文字居中对齐 */
}

/* 额外的 Slider 值显示样式 */
.slider-value-display {
  margin-top: 10px; /* 设置显示值区域的顶部外边距为 10 像素 */
}

/* 白色文字样式 */
.white-text {
  color: white; /* 设置文字颜色为白色 */
}

/* 黑色文字样式 */
.black-text {
  color: black; /* 设置文字颜色为黑色 */
}
