/* RightContent 容器样式 */
.right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* 确保内边距包含在总宽度和高度内 */
}

/* Result 容器样式 */
.result-container {
  flex: 1;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  height:50%;
  background-color: transparent;
}

/* Parameter 容器样式 */
.parameter-container {
  flex: 1;
  padding: 0px;
  width: 100%;
  background-color: transparent;
  height:50%;
  overflow: auto; /*允许内容溢出时滚动*/
}
